.toggle-button-wrapper {
	display: inline-flex;
	flex-direction: column;
	align-items: center;
	cursor: pointer;
	background-color: #ccc;
	border-radius: 10px; /* Adjusted for bigger toggle */
	padding: 10px 20px; /* Adjusted for bigger toggle */
	display: none; /* Initially hidden */
	order: 1;
}

.toggle-button {
	position: relative;
	display: inline-block;
	width: 90px; /* Increased 2 times from 60px */
	height: 45px; /* Increased 2 times from 30px */
	background-color: red;
	border: none;
	border-radius: 45px; /* Adjusted for bigger toggle */
	transition: background-color 0.3s ease;
}

.toggle-button::before {
	content: '';
	position: absolute;
	top: 4.5px; /* Adjusted for bigger toggle */
	left: 4.5px; /* Adjusted for bigger toggle */
	width: 36px; /* Increased 2 times from 24px */
	height: 36px; /* Increased 2 times from 24px */
	background-color: white;
	border-radius: 50%;
	transition: transform 0.3s ease;
}

.toggle-button.on {
	background-color: #4caf50;
}

.toggle-button.on::before {
	transform: translateX(45px); /* Adjusted for bigger toggle */
}

.toggle-text {
	margin-bottom: 10px; /* Space between text and toggle button */
	font-size: 24px;
}


.optionsContainer {
    display: flex;
    justify-content: space-around;
    width: 45%;
    max-width: 600px;
    padding: 10px;
	margin: 10px;
	margin-top: 30px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #FF6F61;
}

.column {
    display: flex;
    flex-direction: column;
}

.option-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 12.5px 0; /* Adjusted margin for spacing */
}

.option-label {
    margin-right: 18.75px; /* Adjusted margin for spacing */
    font-size: 1.25em; /* Font size increased to 1.25 times bigger */
	color: white;
	font-weight: bold;
}

.toggle-switch {
    position: relative;
    display: inline-block;
    width: 62.5px; /* Width increased to 1.25 times bigger */
    height: 35px; /* Height increased to 1.25 times bigger */
    flex-shrink: 0; /* Prevents the toggle from shrinking */
}

.toggle-switch input {
    display: none;
}

.toggle-slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
    border-radius: 17.5px; /* Adjusted border radius for new size */
}

.toggle-slider:before {
    position: absolute;
    content: "";
    height: 27.5px; /* Increased size to 1.25 times bigger */
    width: 27.5px; /* Increased size to 1.25 times bigger */
    left: 3.75px; /* Adjusted position for new size */
    bottom: 3.75px; /* Adjusted position for new size */
    background-color: white;
    transition: .4s;
    border-radius: 50%;
}

input:checked + .toggle-slider {
    background-color: #2196F3;
}

input:checked + .toggle-slider:before {
    transform: translateX(27.5px); /* Adjusted for new size */
}
